<h1>DATOS DEL PRODUCTO</h1>
<table>
    <tr>
        <td><h3>imagen</h3></td>
        <td><h3>codigo del producto</h3></td>
        <td><h3>nombre</h3></td>
        <td><h3>descripcion</h3></td>
        <td><h3>precio</h3></td>
        <td><h3>stock</h3></td>
       
    </tr>
    <tr>
        <td><img src="https://picsum.photos/id/237/200/300" alt=""></td>
        <td><app-component-producto codigo='1231314'></app-component-producto> </td>
        <td><app-component-producto nombre='ANGEL CAPELLA'></app-component-producto></td>
        <td><app-component-producto descripcion='balon de futbol'></app-component-producto></td>
        <td><app-component-producto precio='20€'></app-component-producto></td>
        <td><app-component-producto stock='99999 UNIDADES'></app-component-producto></td>
    </tr>
</table>
