<h1>DATOS DEL PRODUCTO</h1>
<hr>
<h3>codigo del producto</h3>
<app-component-producto codigo='1231314'></app-component-producto> 
<h3>nombre</h3>
<app-component-producto nombre='ANGEL CAPELLA'></app-component-producto>
<h3>descripcion</h3>
<app-component-producto descripcion='balon de futbol'></app-component-producto>
<h3>precio</h3>
<app-component-producto precio='20€'></app-component-producto>
<h3>stock</h3>
<app-component-producto stock='99999 UNIDADES'></app-component-producto>
<h3>imagen</h3>
<img src="https://picsum.photos/id/237/200/300" alt="">
<hr>